<h1>Placeholder Title</h1>
<h3>Placeholder Description of the Website</h3>

{{!-- Story Selection --}}
<div>
  <div class="panel panel-default">

    <div class="panel-heading" id="story-selection"><strong>Choose Your Adventure!</strong></div>

    {{!-- gets data & loops through & grabs undevoured & puts into unordered list --}}
    <div class="panel-body">
      <ul>
        {{#each story}}

        {{!-- how do we make each item from the db a link?, what's our route? --}}
        <a href="">
          <span><strong> {{this.id}} - {{this.story_name}}</strong></span>
        </a>
        
        <hr>

        {
        {{/each}}
      </ul>
    </div>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>